<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue | Computed properties</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <h1>Vue | Computed properties</h1>

  <div id="root">
      <form @submit>
          <div class="form-group">
            <input type="text" v-model='name' class="form-control" id="formGroupExampleInput" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="password" v-model='password' class="form-control" id="formGroupExampleInput2" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="email" v-model='mail' class="form-control" id="formGroupExampleInput2" placeholder="Mail">
          </div>
          <div class="form-group">
            <input type="text" v-model='address' class="form-control" id="formGroupExampleInput2" placeholder="Address">
          </div>
          <button type="submit" v-if='fieldsFilled' @click='onClick' class="btn btn-primary">Send</button>
        </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  <script src="./script.js"></script>
</body>
</html>